.list {
    gap: 20px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 960px;
    min-height: 540px;
    align-items: center;
    justify-content: center;
}

.list li {
    width: 300px;
    color: white;
    font-size: 40px;
    overflow: hidden;
    padding: 10px 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: background-color 0.2s;
    background-color: rgb(0, 0, 0, 0.8);
}

.list li:hover {
    background-color: rgb(0, 0, 0, 1);
}